*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(135deg,#6528ff,#ff7eb3);
    min-height:100vh;
    padding:40px;
}

.container{
    background:#f8f8fb;
    border-radius:30px;
    padding:50px;
    max-width:1300px;
    margin:auto;
}

.subtitle{
    text-align:center;
    color:#6d56ff;
    font-weight:600;
    margin-bottom:10px;
}

h1{
    text-align:center;
    margin-bottom:50px;
    font-size:42px;
    color:#111;
}

.pricing-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.card{
    background:#fff;
    border-radius:24px;
    position:relative;
    overflow:hidden;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.card-top{
    background:#f0ebff;
    margin:20px;
    border-radius:20px;
    padding:30px;
    text-align:center;
}

.card h2{
    margin-bottom:20px;
    color:#111;
}

.description{
    color:#777;
    line-height:1.7;
    font-size:14px;
    margin-bottom:25px;
}

.card h3{
    font-size:34px;
    margin-bottom:8px;
}

.annual{
    color:#999;
    font-size:13px;
}

button{
    margin-top:25px;
    width:100%;
    border:none;
    background:#6d56ff;
    color:white;
    padding:15px;
    border-radius:50px;
    cursor:pointer;
    font-weight:600;
}

.badge{
    position:absolute;
    top:12px;
    left:50%;
    transform:translateX(-50%);
    background:#ffc93c;
    color:#111;
    padding:8px 18px;
    border-radius:20px;
    font-size:13px;
    font-weight:600;
}

.features{
    padding:10px 25px 35px;
}

.features h4{
    margin-bottom:20px;
    font-size:28px;
    color:#444;
}

.features ul{
    list-style:none;
}

.features li{
    margin-bottom:18px;
    color:#666;
}

.features li::before{
    content:"✓";
    margin-right:10px;
    color:#777;
}